{{ $link := "https://fonts.googleapis.com/css2?family=Lato:wght@700&text=MatNoble&display=swap" }}

<link rel="stylesheet" href="{{ $link }}" media="print" onload="this.media='all'" />
<noscript><link rel="stylesheet" href="{{ $link }}" /></noscript>

{{ if .Params.videos }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {{ range $index, $video := .Params.videos }}
    {{ if $index }},{{ end }}
    {
      "@type": "VideoObject",
      "name": "{{ $video.title }}",
      "description": "{{ $video.description }}",
      "thumbnailUrl": [
        "https://i.ytimg.com/vi/{{ $video.id }}/maxresdefault.jpg"
      ],
      "uploadDate": "{{ ($video.date | time.AsTime).Format "2006-01-02T15:04:05-07:00" }}",
      "embedUrl": "https://www.youtube.com/embed/{{ $video.id }}"
    }
    {{ end }}
  ]
}
</script>
{{ end }}
